defaultReplicas: 1

image:
  monitoring: thiagoguaru/alerthawk.monitoring:2.2.19
  auth: thiagoguaru/alerthawk.authentication:2.2.11
  notification: thiagoguaru/alerthawk.notification:2.2.5
  ui: thiagoguaru/alerthawk.ui-demo-v2:2.2.25

service:
  port: 8080

ui:
  replicas: 1

monitoring:
  replicas: 1
  env:
    ASPNETCORE_ENVIRONMENT: Development
    ConnectionStrings__SqlConnectionString: your-connection-string
    RabbitMq__Host: rabbitmq-host
    RabbitMq__User: rabbitmq-user
    RabbitMq__Pass: rabbitmq-pass
    Sentry__Enabled: false
    Sentry__Dsn: sentry-dsn-url
    Sentry__Environment: Local
    SwaggerUICredentials__username: admin 
    SwaggerUICredentials__password: admin
    CacheSettings__CacheProvider: Redis
    CacheSettings__RedisConnectionString: redis-connection-string
    AzureAd__ClientId: clientid
    AzureAd__TenantId: tenantid
    AzureAd__ClientSecret: secret
    AzureAd__Instance: instance
    azure_blob_storage_connection_string: azure-blob-storage-connection-string
    azure_blob_storage_container_name: azure-blob-storage-container-name
    Jwt__Key: jwt-key
    Jwt__Issuers: issuers
    Jwt__Audiences: audiences
    AUTH_API_URL: specify-auth-url-address
    CACHE_PARALLEL_TASKS: 10
    ipgeo_apikey: ipgeo-api-key
    enable_location_api: false
    enable_screenshot: false
    screenshot_wait_time_ms: 2000
    enable_screenshot_storage_account: false
    Logging__LogLevel__Default: Warning
    Logging__LogLevel__Microsoft.IdentityModel.LoggingExtensions.IdentityLoggerAdapter: Critical
    Downsampling__Active: true
    Downsampling__IntervalInSeconds: 60
    DOTNET_SYSTEM_GLOBALIZATION_INVARIANT: false
    CHECK_MONITOR_AFTER_CREATION: true
    QueueType: RABBITMQ
    ServiceBus__ConnectionString: your-sb-connstring
    ServiceBus__QueueName: notifications

auth:
  replicas: 1
  env:
    ASPNETCORE_ENVIRONMENT: Development
    ConnectionStrings__SqlConnectionString: your-connection-string
    Sentry__Enabled: false
    Sentry__Dsn: sentry-dsn-url
    Sentry__Environment: Local
    SwaggerUICredentials__username: admin 
    SwaggerUICredentials__password: admin
    CacheSettings__CacheProvider: MemoryCache
    AzureAd__ClientId: clientid
    AzureAd__TenantId: tenantid
    AzureAd__ClientSecret: secret
    AzureAd__Instance: instance
    AzureAd__CallbackPath: /signin-oidc
    DownstreamApi__BaseUrl: https://graph.microsoft.com/beta
    DownstreamApi__Scopes: User.Read
    smtpHost: smtp-host
    smtpPort: smtp-port
    smtpUsername: smtp-user
    smtpPassword: smtp-pass
    Jwt__Key: jwt-key
    Jwt__Issuers: issuers
    Jwt__Audiences: audiences
    Logging__LogLevel__Default: Warning
    Logging__LogLevel__Microsoft.IdentityModel.LoggingExtensions.IdentityLoggerAdapter: Critical
    DOTNET_SYSTEM_GLOBALIZATION_INVARIANT: false
    MOBILE_API_KEY: your_auth_api_key
    enableSsl: true
    smtpFrom: smtp-from

notification:
  replicas: 1
  env:
    ASPNETCORE_ENVIRONMENT: Development
    ConnectionStrings__SqlConnectionString: your-connection-string
    RabbitMq__Host: rabbitmq-host
    RabbitMq__User: rabbitmq-user
    RabbitMq__Pass: rabbitmq-pass
    Sentry__Enabled: false
    Sentry__Dsn: sentry-dsn-url
    Sentry__Environment: Local
    SwaggerUICredentials__username: admin 
    SwaggerUICredentials__password: admin
    CacheSettings__CacheProvider: MemoryCache
    AzureAd__ClientId: clientid
    AzureAd__TenantId: tenantid
    AzureAd__ClientSecret: secret
    AzureAd__Instance: instance
    Jwt__Key: jwt-key
    Jwt__Issuers: issuers
    Jwt__Audiences: audiences
    slack-webhookurl: slack-webhook-url
    AesKey: aes-key
    AesIV: aes-iv
    AUTH_API_URL: specify-auth-url-address
    Logging__LogLevel__Default: Warning
    Logging__LogLevel__Microsoft.IdentityModel.LoggingExtensions.IdentityLoggerAdapter: Critical
    DOTNET_SYSTEM_GLOBALIZATION_INVARIANT: false
    PUSHY_API_KEY: pushy-api
